export(describe.gamma.survey)
export(describe.logit.survey)
export(describe.normal.survey)
export(describe.poisson.survey)
export(describe.probit.survey)
S3method(param, gamma.survey)
S3method(param, logit.survey)
S3method(param, normal.survey)
S3method(param, poisson.survey)
S3method(param, probit.survey)
S3method(plot, sim.probit.survey)
S3method(plot, sim.gamma.survey)
S3method(plot, sim.logit.survey)
S3method(plot, sim.normal.survey)
S3method(plot, sim.poisson.survey)
S3method(qi, gamma.survey)
S3method(qi, logit.survey)
S3method(qi, normal.survey)
S3method(qi, poisson.survey)
S3method(qi, probit.survey)
importFrom(Zelig, describe, param, qi)
export(zelig2gamma.survey)
export(zelig2logit.survey)
export(zelig2normal.survey)
export(zelig2poisson.survey)
export(zelig2probit.survey)
